//import global project variables
@import "../../../../variables.scss";
@import "../../../../mixins.scss";

%contacts-font-grey {
  	font-style: normal;
	@include font-small;
	color: $colorLightgrey;
}

.contact-card {
	display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1.75rem;

    @include _768 {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}

	@include _768 {
		grid-template-columns: 1fr 3fr;
	}

	&__image {
		height: 4.1875rem;
		width: 4.1875rem;
		border-radius: 50%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	&__header {
		margin-bottom: 0.625rem;
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: 0.15px;
		color: $colorBlackCard;
	}

	&__organization {
	 	@extend %contacts-font-grey;
		margin-bottom: 0.3125rem;	
	}

	&__department {
		@extend %contacts-font-grey;
		margin-bottom: 0.3125rem;	
	}

	&__position {
	 	@extend %contacts-font-grey;
		margin-bottom: 0.625rem;	
	}

	&__phone, &__email {
		@include font-small;
		font-style: normal;
		color: $colorDark;
	}
}