//import global project variables
@import "../../../../variables.scss";
@import "../../../../mixins.scss";

.contacts-container {
	@include wrapper;
	padding: 2.5rem 2.375rem 3.1875rem 5.8rem;
	background-color: $colorWhite;

	@include _1440 {
		padding: 2.5rem 2.375rem;
  	}

  	@include _600 {
		padding: 1.5rem 1rem;
	}
}

.contacts-cards {
	margin-top: 1.75rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;

	@include _1024 {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2.5rem 3rem
	}	

	@include _600 {
		grid-template-columns: 1fr;
		grid-gap: 1.5rem;
	}
}

.paginator-block {
  	display: inline-flex;
  	justify-content: center;
    width: 100%;
    margin-top: 2.75rem;
}

.paginator-block-list {
  	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;

	&__item {
		width: 24.61px;
		height: 25.45px;
	}

	&__button {
		@include flex-c-c;
		border: 1px solid $colorDarkGrey;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
		font-style: normal;
		font-weight: bold;
		font-size: 0.875rem;
		line-height: 1rem;
		color: $colorDarkGrey;
		transition: $transition;

		&:hover {
			cursor: pointer;
			border: 1.28px solid $colorPurple;
			color: $colorPurple;
		 }
	}

	&__button_active {
		border: 1.28px solid $colorPurple;
		color: $colorPurple;
	}
}	