<div class="contacts-filter">
	<form formGroup="fg" class="filter-form">
		<div class="filter-form__container">
			<select class="filter-form__select" formControlName="select">
				<option value="option{{i}}" *ngFor="let option of selectOptions; let i = index">Option {{i}}</option>
			</select>
		</div>
		<div class="filter-form__container">
			<input class="filter-form__input" type="text" placeholder="Введите ФИО, должность или номер телефона" formControlName="input">
		</div>
	</form>
</div>
<button class="toggle-button">
	toggle-button
	<!-- put your code here -->
</button>