/* You can add global variables to this file*/;

/*colors*/
$colorWhite: white;
$colorLightseagreen: lightseagreen;
$colorLightsalmon: lightsalmon;
$colorLightgreyBg: #F7F7F7;
$colorPurple: #ED1C24;
$colorDarkGrey: #6E767D;
$colorBlackHeader: #282B2E;
$colorGrayBg: #D7D7D7;
$colorLightgreyText: #A6AAAD;
$colorDarkText: rgba(0, 0, 0, 0.87);
$colorDark: #212121;


/*font*/
$font-stack: Roboto, sans-serif;
