/* You can add global variables to this file*/;

/*colors*/
$colorWhite: white;
$colorLightseagreen: lightseagreen;
$colorLightsalmon: lightsalmon;
$colorLightgreyBg: #F7F7F7;
$colorLightgreyText: #A6AAAD;
$colorPurple: #ED1C24;
$colorBlackHeader: #282B2E;
$colorGrayBg: #D7D7D7;


/*font*/
$font-stack: Roboto, sans-serif;
